/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.nav-link-internal {
    display: block;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link-internal:hover{
    text-decoration: none;
    color: #ccc;
}

#oliva-tech{
    color: #fff;
}
.navbar {
    background-color: #510075;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#fff, #e0e0e0);
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*CÓDIGOS CRIADOS*/

.card-internal {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 100%;
    margin-left: 25%;
    margin-top: 5%;
}

.btn-outline-oliva {
    color: #510075;
    border-color: #510075;
    text-transform: uppercase;
}

.btn-outline-oliva:hover {
    color: #fff;
    background-color: #510075;
    border-color: #510075;
}


.card-title-internal {
    text-align: center;
    margin-bottom: 0.5rem;
    color: #510075;
}

.thead-oliva {
    color: #fff;
    background-color: #510075;
}

.tbody-oliva {
    background-color: #fffeff;
}

.register {
    color: #510075;
}
.register:hover{
    color: #d575ff;
    text-decoration: none;
}

.text-oliva {
    color: #510075;
}

#btn-register{
    margin-bottom: 5%;
}

.btn-oliva-pencil {
    border-color: #510075;
    background-image: url(img/pencil_purple.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 38px;
}

.btn-oliva-pencil:hover{
    background-color: #510075;
    border-color: #510075;
    background-image: url(img/pencil_white.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 38px;
}

.btn-oliva-search {
    border-color: #510075;
    background-image: url(img/search_purple.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 38px;
}

.btn-oliva-search:hover{
    background-color: #510075;
    border-color: #510075;
    background-image: url(img/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 38px;
}

.btn-oliva-trash {
    border-color: #510075;
    background-image: url(img/trash_purple.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 38px;
}

.btn-oliva-trash:hover{
    background-color: #510075;
    border-color: #510075;
    background-image: url(img/trash_white.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 38px;
}

.card-center {
    margin: 0 auto;
}