@{
    ViewData["Title"] = "Home";
}

<div class="text-center card-internal card-center col-4 shadow">
    <div class="card-title-internal">
        <h2>Bem-vindo</h2>
    </div>
    <h1 style="color: #510075"><strong>Oliva</strong> Tech</h1>
    <p>Veja quais cursos estão disponíveis nas proximidades clicando <a asp-controller="Curso" asp-action="Index" class="register">aqui</a>.</p>
</div>
